<!DOCTYPE html>
<html>
  <head>
    <title>加分成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <span id="sizeA">✔更改成功</span><meta http-equiv="refresh" content="1;URL=/query?value=<%=data.path%>">
  </body>
</html>