<!DOCTYPE html>
<html>
  <head>
    <title>加分成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <font size="6" face="Microsoft JhengHei">✔更改成功</font><meta http-equiv="refresh" content="1;URL=/query?value=<%=data.path%>">
  </body>
</html>