<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>工科營工人登入</title>
    <style>
        p{color: red}
    </style>
</head>
<body>
    <form action="eslogin" method="post">
        <%if(typeof(error) !== 'undefined' && error){%>
         <p><%= error %></p>
        <% } %>
         <span id="sizeB">使用者名稱：</span><input type="text" name="username" ><br/>
         <span id="sizeB">密碼：</span><input type="password" name="pwd" ><br/><br/>
        <input type="submit" value="登入">
    </form>
</body>
</html>