<!DOCTYPE html>
<html>
  <head>
    <title>主頁</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>老鼠暱稱: <%= data.name %></h1>
	<h2>所屬小隊: <%= data.team %></h2>
	<h2>小隊分數: <%= data.score %></h2>


    <%if(typeof(user) !== 'undefined' && user){%>
	<%if(user.username == '4ff75f80957469c4b6af5824cb99bf4919abad98'){%>
    <button type="button">增加分數</button>
	<button type="button">消耗分數</button>
	<br/>
	<br/>
	<br/>
    <a claa="btn" href="/logout">工人登出</a>
    <%}%>
    <%}%>
  </body>
</html>