<!DOCTYPE html>
<html>
  <head>
    <title>工科營查詢系統 - 目前點數</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <span id="sizeB">目前剩餘點數:<br/></span>
      <span id="sizeC"><%- teamScore %></span>
  </body>
</html>